/*@import url("https://fonts.googleapis.com/css2?family=Borel&family=Kanit:ital,wght@0,200;0,500;1,200&family=Kumbh+Sans:wght@100;200;400&family=Patua+One&family=Roboto&family=Tektur:wght@500&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Mukta", sans-serif;
  text-decoration: none;
  border: none;
  outline: none;
}

:root {
  --bg-color: black;
  --second-bg-color: rgb(198, 231, 251);
  --text-color: #fff;
  --main-color: #fff;
  --third-color: salmon;
}

html {
  /* background-color: var(--bg-color);
  color: var(--text-color); */
  background: url("/img/pic20.jpg") repeat;
  filter: brightness(103%);
  filter: contrast(1.1);
  background-size: contain;
  background-position: center;
  align-items: center;
  padding: 0 0%;
}

nav {
  background-color: var(--third-color);
  display: inline-block;
  font-size: 1.7rem;
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  margin-left: 0rem;
  transition: 1.3s;
  opacity: 0;
  animation: slideTop 1.85s ease forwards;
  animation-delay: calc(1.9s * var(--i));
}

nav ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ffa2db;
  z-index: -1;
  transition: 0.5s;
}

nav :hover::before {
  width: 100%;
}

#menu {
  background-color: var(--second-bg-color);
  font-size: 32px;
  padding: 30px;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  text-overflow: ellipsis;
}

button {
  background-color: transparent;
  font-size: 1.5rem;
  padding: 10px 25px;
  overflow: hidden;
}

header h1,
header p {
  color: #fff;
  text-shadow: 4.1px 2px #000000;
  align-items: center;
  top: 0;
  left: 0;
  display: flex;
  z-index: 100;
  justify-content: space-between;
}

header h1 {
  font-size: 45px;
  width: 150%;
  padding: 1rem 38%;
}

header p {
  font-size: 27px;
  margin-top: -40px;
  font-weight: 900;
  width: 100%;
  padding: 15px 45%;
}

#correct-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 50px;
}

.artists {
  margin: auto;
  color: var(--bg-color);
  font-size: 30px;
  padding: 12px;
}

.artists:hover {
  color: rgb(248, 243, 233);
  cursor: pointer;
}

.display-artist {
  color: var(--third-color);
  text-shadow: 6px 2px #000000;
  font-size: 50px;
}

.links {
  color: var(--main-color);
  text-shadow: 3px 2px #000000;
  font-size: 20px;
  text-decoration: none;
}

.links:hover {
  color: pink;
  animation: 0.5s;
}

.card {
  box-shadow: 0 0 3.7rem #4097fa;
  filter: brightness(95%);
  transition: 2.4s ease;
  display: grid;
  grid-template-rows: max-content 300px 1.5fr;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  padding: 30px;
  transform: translateY(10%);
  background-color: var(--second-bg-color);
  overflow: hidden;
  opacity: 0.91;
}

.image {
  filter: brightness(100%);
  opacity: 1;
}

.card:hover {
  cursor: pointer;
  transition: 0.45s ease;
  transform: scale(1.07);
}

.card:active {
  transform: scale(0.976);
  box-shadow: 0 0 3.7rem #4097fa;
}

.card h4 {
  color: var(--bg-color);
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 30px;
}

.card h4:nth-of-type(2) {
  color: var(--bg-color);
  margin-top: 2px;
  font-size: 20px;
}

.card h6 {
  color: var(--bg-color);
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: -20px;
  opacity: 0;
  animation: slideTop 4s ease forwards;
  animation-delay: 2.9s;
}

.card p {
  color: var(--bg-color);
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: -20px;
  opacity: 0;
  animation: slideTop 2s ease forwards;
  animation-delay: 0.9s;
}

.image {
  transform: scale(1);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

main {
  max-width: 90rem;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.display-artist {
  font-size: 50px;
  color: var(--main-color);
}

#songID,
#artistID,
#hidden {
  display: none;
}

form {
  margin: 250px;
  background-color: rgb(177, 214, 255);
  box-shadow: 0 0 3.7rem #4097fa;
  padding: 100px;
  text-align: center;
  align-content: center;
  border-style: solid;
  opacity: 0.92;
  border: 4px solid white;
  border-radius: 2%;
}

#submit-btn {
  margin: 0px 20px 20px 100px;
}

label {
  font-size: 1.65rem;
}

#title,
#year,
#duration {
  font-size: 1.08rem;
}

.border-form h2 {
  font-size: 40px;
}

input {
  border-style: solid;
  font-weight: 200;
  background-color: #ba8ce2;
  text-align: center;
}

#submit-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.8s ease;
  color: aqua;
}

#submit-btn {
  margin: auto;
  color: var(--bg-color);
  font-size: 1.4rem;
  padding: 12px;
  font-weight: 600;
}

#submit-btn:active {
  transform: scale(0.976);
}
